<h1> JSK </h1>

<p>
  <strong>NAME:</strong>
  <%= @employee.name %>
</p>
 
<!-- <p>
  <strong>AGE:</strong>
  <%#= @employee.age %>
</p> 

<p>
  <strong>SALARY:</strong>
  <%#= @employee.salary %>
</p>

<p>
  <strong>STATUS:</strong>
  <%#= @employee.status %>
</p>-->